.App {
  text-align: center;
  padding: 0%;
  margin: 0%;
  height:100%;
  width: 100%;
  font-family: FontAwesome;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 2vmin;
}

.App-header {
  background-color:black;
  width: 100%;
  min-height: 2vh;
  
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(5px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}