.inputform{
   /* border:0.2vw solid black;*/
	margin-top:50vh;
	margin-right: 10vh;
    margin-left: 50vh;
    padding: 0%;
	background-color:  gainsboro;
	width: 18vw;
	height:18vh;
	color:white;
    border:3px solid gray;
    position:absolute;
    z-index:3;
}
.inputtitle{
    background-color: gray;
    margin-top: 0%;
   
}
.inputcontainer{
    margin-top: 0%;
    margin-right: 0%;
    margin-left: 0%;
    padding: 1%;

}
.InputItem{
    width: 100%;
    height: 100%;
   
}

.submitbutton{
    margin-top: 2%;
    margin-right: 0%;
    color:black;
    background-color: gainsboro;
}