.restaurant-list{
   
	margin-top:2vh;
	margin-right: 1vh;
    margin-left: 150vh;
    padding: 0%;
    background-color: gainsboro;
    width: 25vw;
	height:100vh;
	color:white;
    border:3px solid gainsboro;
    position:absolute;
    
    z-index:1;
}
.restaurant-add{
    background-color: black;
    margin: 0 0 0 0;
}
.restaurant-items{
    position: absolute;
    overflow-y:scroll;
    height:85vh;
}